@charset 'utf-8';
*{
	margin:0;
	padding: 0;
}
html,
body {
    position: relative;
    height: 100%;
    font-family: "微软雅黑","HanHei SC","PingHei","PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial","sans-serif";
    moz-user-select: -moz-none; 
	-moz-user-select: none; 
	-o-user-select:none; 
	-khtml-user-select:none; 
	-webkit-user-select:none; 
	-ms-user-select:none; 
	user-select:none;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.active{
	color: #04d194!important;
}
.loading{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #85b0a6;
	/*background-color: #2b2c30; */
	z-index: 999;
}
.loading img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.swiper-pagination{
	width: 28px;
	text-align: center;
	right: 20px!important;
}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
	width: 4px;
	height: 4px;
	margin:0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	background: #FFF;
	opacity: 1;

	transition: all 0.1s ease-in-out;
}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet:hover{
	width: 8px;
	height: 8px;
}
.swiper-pagination-bullet-active{
	background: #fff;
	width: 10px!important;
	height: 10px!important;
}
header{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	width: 100%;
	height: 60px;
	background-color: transparent;
	color: #FFF;
	transition:all 1s;
	-moz-transition:all 1s; /* Firefox 4 */
	-webkit-transition:all 1s; /* Safari and Chrome */
	-o-transition:all 1s; /* Opera */
}
.common_width{
	width:1200px ;
	margin: 0 auto;
	overflow: hidden;
}
.header_left{
	
}
.header_left h1{
	font-size: 18px;
	line-height: 60px;
	cursor: pointer;
}
.header_right{
	
}
.nav{
	overflow: hidden;
	margin-top: 12px;
}
.nav_item{
	float: left;
    margin: 0 10px 0 0;
    font-size: 16px;
    margin-left: 25px;
    position: relative;
    padding: 10px 0;
    cursor: pointer;
	font-size: 16px;
	transition:color 1s;
	-moz-transition:color 1s; /* Firefox 4 */
	-webkit-transition:color 1s; /* Safari and Chrome */
	-o-transition:color 1s; /* Opera */
}
.nav_item a{
	
}
.nav_item span{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10;
	width: 0;
	height: 1px;
	background-color: #04d194;
	transition:width 0.5s;
}
.nav_item:hover{
	color: #04d194!important;
}


.header_Bar{
	height: 60px;
	background-color: transparent;
}
.swiper-container {
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slide_F1 {
	position:relative;
    /*background: url('../images/1.jpg') no-repeat center ;*/
}
.introduce{
	
}
.Header_Img{
	width: 100px;
	height: 100px;
	/*border:1px solid #04d194;*/
	border:1px solid #000;
	border-radius: 50%;
	margin: 0 auto;
}
.Header_Img img{
	width: 100%;
	border-radius: 50%;
}
.decribe_txt{
	color: #FFF;
}
.introduce_p1{
	height: 50px;
	line-height: 50px;
	color: #04d194;
	padding: 0 100px;
	border-bottom: 1px solid #FFF;
	margin-bottom: 30px;
}
.introduce h2{
	font-size: 30px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #F4D03F;
    margin:5px 0;
}
.introduce_p2{
	color: #ff6700;
	font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0px;
}
.introduce_p3{
	font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin: 20px 0;
    color: #109085;
}
.introduce_p4{
	color: #109085;
}
.slide_F2 {
    background: url('../images/1.png') #109085;
    /*background: #109085;*/
}
.F2_wrapper{
	width: 900px;
	font-size: 16px;
	color: #FFF;
	font-weight: normal;
}
.F2_Navitem{
	display: flex;
}
.F2_Navitem li{
	flex:1;
}
.F2_Navitem li p{
	margin: 0 auto;
}
.F2_Navitem li p:first-child{
	width: 90px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	background: rgba(255,255,255,.1);
	border-radius: 50%;
	margin-bottom: 20px;
	cursor: pointer;
}
.F2_Describe{
	padding-top: 50px;
	text-align: center;
}
.F2_Describe p{
	margin: 24px 0;
}

.slide_F3 {
	background: url('../images/1.png') #FFF ;
    /*background: #945c4c;*/
}
.F3_wrapper{
	width: 900px;
}
.Skills{
	
}
.Skills_list{
	float: left;
    width: 20%;
    height: auto;
    padding-bottom: 15px;
    position: relative;
    cursor: pointer;
    color: #666;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
}
.Skills_list:hover .list_tips{
	height: 80%;
	opacity: 1;
	background-color: rgba(0,0,0,0.8);
}
.Skills_list p{
	
}
.Skills_list p img{
	width: 50%;
}
.Skills_list p:nth-child(3){
	color: #ff6700;
}
.list_tips{
	position: absolute;
	left: 0;
	top:0;
	z-index: 2;
    width: 85%;
    height: 0%;
    opacity: 0;
    background-color: rgba(0,0,0,0);
    color: #FFF;
    padding: 10px;
    line-height: 26px;
    overflow: hidden;
    font-size: 14px;
    border-radius: 10px;
    transition:all 0.5s;
}
.slide_F4 {
    background:url('../images/1.png') #945c4c;
}
.F4_wrapper{
	width: 850px;
	min-height:300px; 
	border-radius: 10px;
	background: #FFF;
	/*opacity: 0.5;*/
	box-shadow: 0 0 25px rgba(0,0,0,.5);
}
.slide_pagination{
	bottom: -30px!important;
}
.experience_slider{
	width: 850px;
	height: 300px;
	border-radius: 10px;
	position: relative;
}
.experience_list{
	display: flex;
	text-align: left;
	border-radius: 10px;
}
.experienceList_left{
	width: 160px;
	text-align: center;
	position: relative;
}
.experienceList_left img{
	width: 55%;
}
.experienceList_right::before{
	content: '';
	background: #EEE;
	width:1px;
	height: 100%;
	position: absolute;
	left: 0px;
	top:0;
}
.experienceList_right{
	position: relative;
	flex:1;
	padding-left: 20px;
}
.company_Name{
	font-size: 20px;
	color:#945c4c ;
	margin-bottom: 20px;
}
.experienceList_right p{
	font-size: 14px;
	color:#945c4c ;
	margin-bottom: 12px ;
}
.experienceList_right ul li{
	line-height: 30px;
    font-size: 16px;
    position: relative;
}
.experienceList_right ul li:before{
	content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 5px;
    height: 5px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #945c4c;
}
.experience_list1{
	
}
.experience_list2{
	
}

.slide_F5 {
    background: #E6182C;
}
.slide_F6 {
    background: #42a4ff;
}

.slide_F7 {
    background: #008080;
}